<% layout("./layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details:</h3>
            <div class="card-show">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image" >
                <div class="card-body">
                    <br>
                    <p class="card-text">
                        <b ><%= listing.title %></b>
                        <br>
                        <%= listing.description %>
                        <ul>
                            <li><%= listing.price.toLocaleString('en-IN', {style: 'currency',currency: 'INR'});%></li>
                            <li><%= listing.location %></li>
                            <li><%= listing.country %></li>
                        </ul>
                    </p>
                </div>
            
        </div> 
        <div class="card-btns">
            <a class="btn btn-dark btn-show " href="/listings/<%= listing._id %>/edit">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark btn-show ">Delete</button>
            </form>   
        </div>
    </div>
</body>
