<% layout("./layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3><%= listing.title %></h3>
            <div class="card-show listing-card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image" >
                <div class="card-body">
                    <br>
                    <p class="card-text">
                        <%= listing.description %>
                        <ul>
                            <li><%= listing.price.toLocaleString('en-IN', {style: 'currency',currency: 'INR'});%></li>
                            <li><%= listing.location %></li>
                            <li><%= listing.country %></li>
                        </ul>
                    </p>
                </div>
            
        </div> 
        <div class="card-btns">
            <a class="btn btn-dark btn-show " href="/listings/<%= listing._id %>/edit">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark btn-show ">Delete</button>
            </form>   
        </div>
    </div>
    <div class="col-8 offset-2 mb-3">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label"> Range </label>
                <input type="range" min="1" max="5" id="rating"class="form-range" name="review[rating]" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label"> Comment </label>
                <br>
                <textarea id="comment" name="review[comment]" cols="105" rows="5"class="form-control" required></textarea>  
                <div class="invalid-feedback">
                    Please add some Comments for review.
                </div>
            </div>
            <button class="btn btn-outline-dark">Post</button>
        </form>

        <hr>

        <p><b>All Reviews</b></p>
        <div class="row">
            <% for(let review of listing.reviews ) { %>
                <div class="card col-5 mb-1 ms-2 review-card">
                    <div class="class-body">
                        <h5 class="card-title">Jane Dow</h5>
                        <p class="card-text"><%=  review.comment %></p>
                        <p class="card-text rating"><%=  review.rating %>&#127775;</p>

                        <form class="mb-3" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <button class="btn btn-dark btn-sm btn-review-del ">Delete</button>
                        </form>

                    </div>
                </div>
            <% } %>  
        </div>  
    </div>
    
</body>
